{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
{% block css %}

    <link rel="stylesheet" href="{{ asset('template/bower_components/select2/dist/css/select2.min.css')}}">
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('template/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();
        })
    </script>
{% endblock %}

{% block breadcrumb %}
    <h1>
        Editing
        <small> profile: {{ app.user.firstName }}</small>
    </h1>
    <ol class="breadcrumb">

        <li>
            <a href="{{ path("home") }}">
                <i class="fa fa-home"></i>
                Home
            </a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-sign-out"></i>
                    Logout
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('fos_user_security_login') }}">
                    <i class="fa fa-sign-in"></i>
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>

        {% endif %}

    </ol>
{% endblock %}