{% trans_default_domain 'FOSUserBundle' %}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Updating user profile!</h3>
    </div>
    {{ form_start(form, { 'action': path('fos_user_profile_edit')}) }}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />#}
    {#</div>#}
    {#{{ form_end(form) }}#}
    <div class="box-body">
    {#{% block form_errors %}#}
    {#{{ dump(_context|keys) }}#}
    {#{% endblock %}#}
    {#{% block form_row %}#}
    {% block form_errors %}
        {% if not form.vars.valid %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Form Errors!</h4>

                <ul>
                    {#Loop through every form item#}
                    {% for child in form.children %}
                        {#Display the errors of the form item#}
                        {%for error in child.vars.errors%}
                            <li>{{ child.vars.label }}: {{error.message}}</li>
                        {%endfor%}
                    {%endfor%}
                </ul>
                {#{{ form_errors(form) }}#}

            </div>
        {% endif %}
    {% endblock form_errors %}

    <div class="row">
        <div class="col-md-4">

            <div class="form-group {{ form_errors(form.firstName)|length > 0 ? 'has-error' : '' }}">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName, {'attr':{'tabindex':1}}) }}
            </div>


            <div class="form-group {{ form_errors(form.firstName)|length > 0 ? 'has-error' : '' }}">
                <label>Job Level</label>
                {{ form_widget(form.level, {'attr':{'tabindex':4, 'style':'width:100%'}}) }}
            </div>


            <div class="form-group {{ form_errors(form.mobileNumber)|length > 0 ? 'has-error' : '' }}">
                {{ form_label(form.mobileNumber) }}
                {{ form_widget(form.mobileNumber, {'attr':{'tabindex':7}}) }}
            </div>


            <div class="form-group {{ form_errors(form.roles)|length > 0 ? 'has-error' : '' }}">
                <label>Roles</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.roles, {'attr':{'tabindex':10, 'style':'width:100%'}}) }}
                {% else %}
                    {{ form_widget(form.roles, {'attr':{'disabled': 'disabled','tabindex':10, 'style':'width:100%'}}) }}
                {% endif %}
            </div>
            <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
            <div class="form-group {{ form_errors(form.lastName)|length > 0 ? 'has-error' : '' }}">
                <label for="first_name">Last Name</label>
                {{ form_widget(form.lastName, {'attr':{'tabindex':2}}) }}
            </div>
            <div class="form-group {{ form_errors(form.region)|length > 0 ? 'has-error' : '' }}">
                <label>Region</label>
                {{ form_widget(form.region,{'attr':{'tabindex':5, 'style':'width:100%'}}) }}
            </div>

            <div class="form-group {{ form_errors(form.email)|length > 0 ? 'has-error' : '' }}">
                <label>Email Address</label>
                {{ form_widget(form.email, {'attr':{'class':'form-control', 'tabindex':8}}) }}
            </div>

            <div class="form-group {{ form_errors(form.current_password)|length > 0 ? 'has-error' : '' }}">
                <label>Current Password</label>
                {{ form_widget(form.current_password, {'attr':{'class':'form-control', 'tabindex':11}}) }}
            </div>
            <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
        <div class="col-md-4">
            <div class="form-group {{ form_errors(form.position)|length > 0 ? 'has-error' : '' }}">
                <label for="first_name">Position</label>
                {{ form_widget(form.position, {'attr':{'tabindex':3}}) }}
            </div>
            <div class="form-group {{ form_errors(form.province)|length > 0 ? 'has-error' : '' }}">
                <label>Province</label>
                {{ form_widget(form.province,{'attr':{'tabindex':6, 'style':'width:100%'}}) }}
            </div>

            <div class="form-group {{ form_errors(form.username)|length > 0 ? 'has-error' : '' }}">
                <label>User Name</label>
                {{ form_widget(form.username,{'attr':{'class':'form-control', 'tabindex':9}}) }}
            </div>

            <!-- /.form-group -->
        </div>
    </div>
    {#{% endblock form_row %}#}
    <div class="row">
        <div class="col-md-4">
            <button type="submit" tabindex="13" class="btn btn-info">
                <i class="fa fa-edit"></i>
                Update
            </button>

            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">
                <i class="fa fa-mail-reply"></i> Go Back!
            </a>
        </div>
    </div>
    <!-- /.row -->
    </div>
    {{ form_end(form) }}
</div>