{% extends 'template.html.twig' %}

{% block content %}

    <script src="{{ asset('charts/highcharts.js') }}"></script>
    <script src="{{ asset('charts/modules/heatmap.js') }}"></script>
    <script src="{{ asset('charts/modules/exporting.js') }}"></script>
    <script src="{{ asset('charts/modules/grouped-categories.js') }}"></script>
    <!-- Current Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default bg-gray">
                <div class="box-header with-border">
                    <h3 class="box-title campaign-title">{{ lastCampData[0]['CName'] }} Campaign Data </h3>
                    <span class="badge bg-gray-light" style="font-weight: normal; color:black">Source: Catchup Data</span>
                    <a class="pull-right btn-sm btn-primary btn-cluster"
                       style="cursor:pointer" target="_blank" href="{{ path("cluster_admin_data") }}">
                        <i class="fa fa-mail-forward"></i> For clusters' data click here!
                    </a>
                </div>
                <div class="box-body">

                    <!-- Start of First Row --->
                    <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="c-info-box">
                                    <span class="c-info-box-icon bg-yellow"><i class="fa fa-child"></i></span>

                                    <div class="c-info-box-content">
                                        <span class="c-info-box-text">Target</span>
                                        <span class="c-info-box-number info-vaccinated-child">
                                            {{ lastCampData[0]['RegMissed']|number_format(0, '.', ',') }}
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="c-info-box">
                                    <span class="c-info-box-icon bg-aqua"><i class="fa fa-child"></i></span>

                                    <div class="c-info-box-content">
                                        <span class="c-info-box-text">Recovered</span>
                                        <span class="c-info-box-number info-missed-child">
                                            {{ lastCampData[0]['TotalRecovered'] | number_format(0, '.', ',') }}
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="c-info-box">
                                    <span class="c-info-box-icon bg-info"><i class="fa fa-child"></i></span>

                                    <div class="c-info-box-content">
                                        <span class="c-info-box-text">Unrecorded</span>
                                        <span class="c-info-box-number info-used-vials">
                                            {{ lastCampData[0]['VacUnRecorded'] | number_format(0, '.', ',') }}
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="c-info-box">
                                    <span class="c-info-box-icon bg-red"><i class="fa fa-child"></i></span>

                                    <div class="c-info-box-content">
                                        <span class="c-info-box-text">Remaining</span>
                                        <span class="c-info-box-number info-coverage">
                                            {{ lastCampData[0]['TotalRemaining'] | number_format(0, '.', ',') }}
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                     <div class="box-body table-campaign-info">
                                         <table class="table table-bordered">
                                             <tr>
                                                 <th>Region</th>
                                                 <th>Target Missed</th>
                                                 <th>Recovered %</th>
                                                 <th>Still Missed</th>
                                                 <th style="color: orange">Absent</th>
                                                 <th style="color: saddlebrown;">NSS</th>
                                                 <th style="color: red;">Refusal</th>
                                             </tr>
                                             {% for region in lastCampRegionData %}
                                             <tr>
                                                 <td>{{ region['Region'] }}</td>
                                                 <td>
                                                     {{
                                                     region['RegMissed']|number_format(0, '.', ',')
                                                     }}
                                                 </td>
                                                 <td>
                                                     <div class="progress progress-sm" style="background-color: #cb8a0c">
                                                         {% set coverage = (region['TotalRecovered']/(region['RegMissed']) * 100) %}
                                                         <div class="progress-bar progress-bar-success" title="Coverage: {{ coverage|number_format(2, '.', ',') }}%"
                                                              style="width: {{ coverage|number_format(2, '.', ',') }}%">
                                                         </div>
                                                     </div>
                                                 </td>
                                                 <td>
                                                     {{ region['TotalRemaining']|number_format(0, '.', ',') }}
                                                 </td>
                                                 <td>
                                                     {{ region['RemAbsent']|number_format(0, '.', ',') }}
                                                 </td>
                                                 <td>
                                                     {{ region['RemNSS']|number_format(0, '.', ',') }}
                                                 </td>
                                                 <td>
                                                     {{ region['RemRefusal']|number_format(0, '.', ',') }}
                                                 </td>
                                                 {#<td><span class="badge bg-red">55%</span></td>#}
                                             </tr>
                                             {% endfor %}

                                         </table>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                     <div class="box-body" style="padding: 1px;">
                                        <div id="chart-pie_chart_1camp" style="height: 200px; max-height: 250px;" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="box box-primary">
                                    <div class="box-body" style="padding: 1px;">
                                        <div id="chart-column_chart_1camp" style="height: 200px; max-height: 250px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- End of First Row --->
                    <!-- Second Row --->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box box-warning">
                                <div class="box-body" style="padding: 1px">
                                    <div id="chart-recovered_all" style="height: 200px; max-height: 250px;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box box-warning">
                                <div class="box-body" style="padding: 1px">
                                    <div id="chart-recovered_absent" style="height: 200px; max-height: 250px;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box box-warning">
                                <div class="box-body" style="padding: 1px">
                                    <div id="chart-recovered_nss" style="height: 200px; max-height: 250px;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box box-warning">
                                <div class="box-body" style="padding: 1px">
                                    <div id="chart-recovered_refusal" style="height: 200px; max-height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of second row -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Current Campaign Row-->
    <!-- Start of the 10 Campaign Trends --->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default bg-gray-light">
                <div class="box-header with-border">
                    <h3 class="box-title last10-campaign-title">Last 10 Campaigns' Trend </h3>
                    <span class="badge bg-gray" style="font-weight: normal">Source: Catchup Data</span>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box box-primary">
                                <div class="chart-filter">
                                    <span><a href="#"><i class="fa fa-filter"></i></a></span>
                                    <div class="filter-content">
                                        <a class="campaign-type" href="#" title="NID" data-url="vac_child_10camp">NID</a>
                                        <a class="campaign-type" href="#" title="SNID" data-url="vac_child_10camp">SNID</a>
                                        <a class="campaign-type" href="#" title="LPD" data-url="vac_child_10camp">LPD</a>
                                        <a class="campaign-type" href="#" title="LPD" data-url="vac_child_10camp">Reset</a>
                                    </div>
                                </div>
                                <span class="filter-loading loading vac_child_10camp" title="Applying filter">
                                    <img src='{{ asset('ajax-loader-arrow.gif')}}' />
                                </span>
                                <div class="box-body">
                                    <div id="chart-vac_child_10camp" style="min-width: 300px; height: 350px; max-width:inherit"></div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-primary">
                                <div class="chart-filter">
                                    <span><a href="#"><i class="fa fa-filter"></i></a></span>
                                    <div class="filter-content">
                                        <a class="campaign-type" href="#" title="NID" data-url="missed_10camp">NID</a>
                                        <a class="campaign-type" href="#" title="SNID" data-url="missed_10camp">SNID</a>
                                        <a class="campaign-type" href="#" title="LPD" data-url="missed_10camp">LPD</a>
                                        <a class="campaign-type" href="#" title="LPD" data-url="missed_10camp">Reset</a>
                                    </div>
                                </div>
                                <span class="filter-loading loading missed_10camp" title="Applying filter"><img src='{{ asset('ajax-loader-arrow.gif')}}' /></span>
                                <div class="box-body">
                                    <div id="chart-missed_10camp" style="min-width: 300px; height: 350px; max-width:inherit"></div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-primary">
                                <div class="chart-filter">
                                    <span><a href="#"><i class="fa fa-filter"></i></a></span>
                                    <div class="filter-content">
                                        <a class="campaign-type" href="#" title="NID" data-url="missed_type_10camp">NID</a>
                                        <a class="campaign-type" href="#" title="SNID" data-url="missed_type_10camp">SNID</a>
                                        <a class="campaign-type" href="#" title="LPD" data-url="missed_type_10camp">LPD</a>
                                        <a class="campaign-type" href="#" title="LPD" data-url="missed_type_10camp">Reset</a>
                                    </div>
                                </div>
                                <span class="filter-loading loading missed_type_10camp" title="Applying filter"><img src='{{ asset('ajax-loader-arrow.gif')}}' /></span>
                                <div class="box-body">
                                    <div id="chart-missed_type_10camp" style="min-width: 300px; height: 350px; max-width:inherit"></div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">

                                <div class="box-body">
                                    <div id="chart-recovered_10camp" style="min-width: 300px; height: 350px; max-width:inherit">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- End of the 10 Camp Trends --->

    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<div class="box-warning box">#}
                {#<div class="box-body">#}
                    {#<div id="chart-nss_3camp" style="min-width: 310px; height: 400px; max-width:inherit">#}
                        {#{{ dump(lastCampData) }}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<div class="box-default box">#}
                {#<div class="box-body">#}
                    {#<div id="chart-refusal_3camp" style="min-width: 310px; height: 400px; max-width:inherit"></div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<div class="box-danger box">#}

                {#<div class="box-body">#}
                    {#<div id="chart-vac_usage" style="min-width: 310px; height: 400px; max-width:inherit"></div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}

{% block header %}
    {% embed 'shared/header.html.twig' %}
        {% block filter %}
            {{ render(controller(
            'AppBundle:Ajax/AjaxFilter:smallFilter'
            ))
            }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('custom_js_css/custom-style.css') }}">
{% endblock %}
{% block js_head %}
    <script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script  src="{{ asset('template/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js') }}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <!-- AdminLTE App -->
    <script src="{{ asset('template/dist/js/adminlte.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}
{% block js %}
    <script src="{{ asset('custom_js_css/charts-wrapper.js') }}"></script>
    <script>
        $(document).ready(function () {

            // ========================= General Configuration for charts =================
            const config = new Array();
            config['vac_child_10camp'] = {'titles':{'yTitle':'No of vaccinated children', 'xTitle':null}, 'color':['#43AB0D']};
            config['missed_10camp'] = {'titles':{'yTitle':'No of missed children', 'xTitle': null}, 'color':['#C99900']};
            config['missed_type_10camp'] = {'titles':{'yTitle':'No of missed by reason', 'xTitle': null}, 'color':['#FFFF00', '#C99900', '#FF0000']};

            // =========================== Filter Menu Item Clicked For Campaign Type =========================
            $(".campaign-type").click(function (event){
                event.preventDefault();
                var target = $(this).data('url');
                var targetCont = "chart-"+ target;
                var ajaxUrl = "ajax_camp_statistics";
                var campaigns = $("#filterCampaign").val();
                var regions = $("#filterRegion").val();
                var provinces = $("#filterProvince").val();
                var districts = $("#filterDistrict").val();

                $('.'+target).show();
                var postData = {'campType': $(this).text(),
                                'entity': 'CoverageData',
                                'chartType': target,
                                'campaigns':campaigns,
                                'regions' : regions,
                                'provinces': provinces,
                                'districts': districts,
                               };
                var stacking = target == "missed_type_10camp" ? {'type':'column', 'stacking':'normal'} : {'type':'column'};
                $.ajax({
                    url: Routing.generate(ajaxUrl),
                    data: postData,
                    type: 'POST',
                    success: function (data) {
                        //console.log(data);
                        var jsonData = JSON.parse(data);

                        myChartWrapper(stacking,
                            targetCont, JSON.stringify(jsonData[target]),
                            config[target].titles, null, config[target].color);
                        $('.'+target).hide();
                    },
                    cache: false
                });

                //alert($(this).text()+" and "+$(this).data('url') + " and " + target);
            })

            //============================== Tree Menu ========================================
            var checkElement = $('.menu-open .treeview-menu');
            if ((checkElement.is('.treeview-menu')) && (!checkElement.is(':visible'))) {
                //Get the parent menu
                var parent = checkElement.parents('ul').first();
                //Close all open menus within the parent
                var ul = parent.find('ul:visible').slideUp(500);
                //Remove the menu-open class from the parent
                ul.removeClass('menu-open');
                //Get the parent li
                var parent_li = checkElement.parent("li");

                //Open the target menu and add the menu-open class
                checkElement.slideDown(500, function () {
                    //Add the class active to the parent li
                    checkElement.addClass('menu-open');
                    //parent.find('li.active').removeClass('active');
                    parent_li.addClass('active');
                    //Fix the layout in case the sidebar stretches over the height of the window
                    //_this.layout.fix();
                });
            }

            // =============================== End of Tree Menu ==================================

            $('.loading, .loading-top').hide();

            // =============================== Load the charts for the first time ================

            myPieChartWrapper('chart-pie_chart_1camp', '{{ lastCampPieData|raw }}', null, ['#FFFF00', '#C99900', '#FF0000'], null, 'donut', 'small');
            myChartWrapper({'type':"column"}, "chart-column_chart_1camp", '{{ lastCampVacData|raw }}',
                {'yTitle':null, 'xTitle':null}, {'enabled':false}, ['#40c97a']);

            // Second Row of the last campaign charts
            myPieChartWrapper('chart-recovered_all', '{{ recoveredAll|raw }}', null,
                ['#40C97A', '#FFB32D'], null, 'halfpie', 'small');
            myPieChartWrapper('chart-recovered_absent', '{{ recoveredAbsent|raw }}', null,
                ['#40C97A', '#FFFF00'], null, 'halfpie', 'small');
            myPieChartWrapper('chart-recovered_nss', '{{ recoveredNSS|raw }}', null,
                ['#40C97A', '#9C800E'], null, 'halfpie', 'small');
            myPieChartWrapper('chart-recovered_refusal', '{{ recoveredRefusal|raw }}', null,
                ['#40C97A', '#FF0000'], null, 'halfpie', 'small');

            // Last 10 campaign trends
            myChartWrapper({'type':"column"}, "chart-vac_child_10camp", '{{ chartVacChild10Camp|raw }}',
                {'yTitle':null, 'xTitle':null}, null, config['vac_child_10camp'].color);
            myChartWrapper({'type':"column"}, "chart-missed_10camp", '{{ chartMissed10Camp|raw }}',
                {'yTitle':null, 'xTitle':null}, null, config['missed_10camp'].color);
            myChartWrapper({'type':"column", 'stacking':'normal'}, "chart-missed_type_10camp", '{{ chartMissedType10camp|raw }}',
                {'yTitle':null, 'xTitle':null}, null, config['missed_type_10camp'].color);
            myChartWrapper({'type':"area", 'stacking':'percent'}, "chart-recovered_10camp", '{{ last10CampRecovered|raw }}',
                {'yTitle':null, 'xTitle':null}, null,
               ['#FFDE7B', '#33D3FF', '#42FFC0', '#40C97A']);
            {##}
            {#colChart('chart-vac_child_10camp', '{{ chartVacChild10Camp|raw }}', config['vac_child_10camp'].title, config['vac_child_10camp'].color);#}
            {#colChart('chart-missed_10camp', '{{ chartMissed10Camp|raw }}', config['missed_10camp'].title, config['missed_10camp'].color);#}
            {#colChart('chart-missed_type_10camp', '{{ chartMissedType10camp|raw }}', config['missed_type_10camp'].title, config['missed_type_10camp'].color);#}
            {#colChart('chart-absent_3camp', '{{ chartDataAbsent|raw }}', config['absent_3camp'].title, config['absent_3camp'].color);#}
            {#colChart('chart-nss_3camp', '{{ chartDataNss|raw }}', config['nss_3camp'].title, config['nss_3camp'].color);#}
            {#colChart('chart-refusal_3camp', '{{ chartDataRefusal|raw }}', config['refusal_3camp'].title,config['refusal_3camp'].color);#}
            {#threeAxisChart('chart-vac_usage', '{{ chartVaccineUsage|raw }}', ['Received vials', 'Used vials', 'Wastage'],#}
                {#['ReceivedVials', 'UsedVials', 'Wastage']);#}

            // ============================== End loading of the charts ==========================
            $('#filterDistrict').change(function () {
                //$('.btn-cluster').hide();
                var districts = $('#filterDistrict option:selected');

                var selectedDistricts = [];
                $(districts).each(function (index, districts) {

                    selectedDistricts.push([$(districts).val()]);
                });

                if(selectedDistricts.length === 1) {
                    var districtId = $('#filterDistrict').val();
                    //console.log(districtId[0].indexOf("HR"));
                    if(districtId[0].indexOf("HR") == -1) {
                        var url = Routing.generate('cluster_admin_data', {'district': districtId})
                        $('.btn-cluster').html("<i class='fa fa-mail-forward'></i> Clusters' data for " + $('#filterDistrict option:selected').attr('label'));
                        $('.btn-cluster').attr("href", url);
                        //$('.btn-cluster').show();
                    }
                } else {
                    $('.btn-cluster').html("<i class='fa fa-mail-forward'></i> For clusters' data click here!");
                    $('.btn-cluster').attr("href", Routing.generate('cluster_admin_data'));
                }
            })

            $('#filterButton').click(function () {

                var campaigns = $('#filterCampaign').val();

                var region = $('#filterRegion').val();

                var provinces = $('#filterProvince').val();

                var districts = $('#filterDistrict').val();

                // check if a user didn't select anything, then return
                if(campaigns === null || campaigns === undefined) {
                    window.alert("Please select at least one campaign");
                    return;
                }

                var data = {'campaign':campaigns, 'region':region, 'province': provinces, 'district': districts};

                $('.loading, .loading-top').show();


                $.ajax({
                    url: Routing.generate('ajax_filter_admin_data'),
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                        var jsonData = JSON.parse(data);

                        // set tiles' values
                        var target = (parseInt(jsonData.lastCampData[0].TotalRemaining) + parseInt(jsonData.lastCampData[0].TotalVac));
                        var coverage = parseInt(jsonData.lastCampData[0].TotalVac)/target;

                        $('.info-vaccinated-child').html(numeral(jsonData.lastCampData[0].TotalVac).format('0,0'));
                        $('.info-coverage').html(numeral(coverage).format('0,0.00%'));
                        $('.info-missed-child').html(numeral(jsonData.lastCampData[0].TotalRemaining).format('0,0'));
                        $('.info-used-vials').html(numeral(jsonData.lastCampData[0].UVials).format('0,0'));
                        // set new title for the row
                        $('.campaign-title').html(jsonData.lastCampData[0].CName + " Campaign Data");
                        // set new table
                        $('.table-campaign-info').html(jsonData.table.table);

                        myPieChartWrapper('chart-pie_chart_1camp', JSON.stringify(jsonData.lastCampPieData), null, ['#FFFF00', '#C99900', '#FF0000'], null, 'donut', 'small');
                        myChartWrapper({'type':"column"}, "chart-column_chart_1camp", JSON.stringify(jsonData.lastCampVacData),
                            {'yTitle':null, 'xTitle':null}, {'enabled':false}, ['#ffb32d']);

                        // Second Row of the last campaign charts
                        myPieChartWrapper('chart-recovered_all', JSON.stringify(jsonData.recoveredAll), null,
                            ['#048AFF', '#40C97A', '#FFB32D'], null, 'halfpie', 'small');
                        myPieChartWrapper('chart-recovered_absent', JSON.stringify(jsonData.recoveredAbsent), null,
                            ['#048AFF', '#40C97A', '#FFFF00'], null, 'halfpie', 'small');
                        myPieChartWrapper('chart-recovered_nss', JSON.stringify(jsonData.recoveredNSS), null,
                            ['#048AFF', '#40C97A', '#9C800E'], null, 'halfpie', 'small');
                        myPieChartWrapper('chart-recovered_refusal', JSON.stringify(jsonData.recoveredRefusal), null,
                            ['#048AFF', '#40C97A', '#FF0000'], null, 'halfpie', 'small');

                        // Last 10 campaign trends
                        myChartWrapper({'type':"column"}, "chart-vac_child_10camp", JSON.stringify(jsonData.chartVacChild10Camp),
                            {'yTitle':null, 'xTitle':null}, null, config['vac_child_10camp'].color);
                        myChartWrapper({'type':"column"}, "chart-missed_10camp", JSON.stringify(jsonData.chartMissed10Camp),
                            {'yTitle':null, 'xTitle':null}, null, config['missed_10camp'].color);
                        myChartWrapper({'type':"column", 'stacking':'normal'}, "chart-missed_type_10camp", JSON.stringify(jsonData.chartMissedType10camp),
                            {'yTitle':null, 'xTitle':null}, null, config['missed_type_10camp'].color);
                        myChartWrapper({'type':"area", 'stacking':'percent'}, "chart-recovered_10camp", JSON.stringify(jsonData.last10CampRecovered),
                            {'yTitle':null, 'xTitle':null}, null,
                            ['#FFDE7B', '#33D3FF', '#42FFC0', '#40C97A']);

                        $('.loading, .loading-top').hide();
                    },
                    cache: false
                });

            })
        });


    </script>
{% endblock %}