{% extends 'template.html.twig' %}

{% block content %}
    <!-- Current Row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default bg-gray">
                <div class="box-header with-border">
                    {{ pageTitle }}
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-warning box">
                                        <div class="box-body">
                                            <span class="filter-loading loader-small info-loader"></span>
                                            <div id="missed_recovery_chart_1" style="min-height: 400px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-warning box">
                                        <div class="box-body">
                                            <div class="btn-group dropdown-filter">
                                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-filter"></i></button>
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#" data-type="RemAbsent" class="filter-heatmap">Absent</a></li>
                                                    <li><a href="#" data-type="RemNSS" class="filter-heatmap">NSS</a></li>
                                                    <li><a href="#" data-type="RemRefusal" class="filter-heatmap">Refusal</a></li>
                                                    <li><a href="#" data-type="TotalRemaining" class="filter-heatmap">All Type</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#" data-type="RemAbsentPer" class="filter-heatmap">Percentage Absent</a></li>
                                                    <li><a href="#" data-type="RemNSSPer" class="filter-heatmap">Percentage NSS</a></li>
                                                    <li><a href="#" data-type="RemRefusalPer" class="filter-heatmap">Percentage Refusal</a></li>
                                                    <li><a href="#" data-type="TotalRemainingPer" class="filter-heatmap">Percentage All Type</a></li>
                                                </ul>
                                                <a href="#benchmark" data-toggle="tooltip" title="click here to know about benchmark"
                                                   class="badge bg-blue"
                                                   style="top:4px; left:4px; display: inline-block; position: relative">
                                                    <i class="fa fa-info"></i>&nbsp;
                                                </a>
                                            </div>
                                            <span class="filter-loading loader-small trend-loader"></span>
                                            <div id="cluster_trend" style="min-height: 400px;">
                                            </div>
                                            <input type="hidden" id="ajaxUrl"
                                                   data-district="{{ district }}"
                                                   value="{{ ajaxUrl }}"
                                                   data-source="{{ source }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
    {% embed 'shared/header.html.twig' %}
        {% block filter %}
            {{ render(controller(
            'AppBundle:Ajax/AjaxFilter:clusterFilter',
                { 'source': source, 'district': district }
            ))
            }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('build/cluster-filter.js') }}"></script>
{% endblock %}