{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('charts/highcharts.js') }}"></script>
    <script src="{{ asset('charts/modules/exporting.js') }}"></script>
    <script src="{{ asset('custom_js_css/Chart.js')}}"></script>
    <script>
        $(document).ready(function () {
            var firstChart = new Charts();
            firstChart.lineChart('test_chart', '{{ data|raw }}', {'type':"line"});
        })
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6" id="test_chart">

        </div>
    </div>
{% endblock %}